extends layouts/mainLayout.pug

block style
    link(rel="stylesheet", href="/css/products.css")
    link(rel="stylesheet", href="/css/form.css")

block title 
    title #{pageTitle} 

block content 
     main
        form.product-form(action="/admin/add-product" method="POST")
            .product-form__form-control
                label(for="title") Title
                input(name="title" type="text" id="title")

            button.product-form__add-product__btn(type="submit") Add Product


